# Python build artifacts
*.egg-info/
dist/
build/

# Byte-compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution files
*.whl

# Virtual environments
venv/
env/

# VS Code settings
.vscode/

# Python scripts
# glofas_processing_utils.py
# sensor_network_utils.py

# random stuf
data/
*.csv
*.cpg
*.dbf
*.prj
*.sbn
*.shx
*.shp
*.shp.xml
*.grib
*.idx
outputs/
*.pkl
*.gpkg